# typical ignores
node_modules
bower_components
__pycache__
dist
built
public
.tmp
.sass-cache
*.secret.json
coverage
.coverage
coverage.xml
htmlcov

# vim-related
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.vimrc
*~

# TernJS
.tern-project

# Sqlite3 DB file
*.db
*.db-journal
*.sqlite3

# this project
